/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*.header {
	font-style:
}*/

.section {
	padding-bottom: 30px;
}

.search {
	width: 33%;
	float: right;
}



.nav {
	background-color: #006600;
	transition-property: 30%;
}

.logo {
	width: 15%;
	padding-right: 1%;
}


.logo-text {
	padding-top: 1.5%;
	width: 14%;
}

.logo-text-main {
	width: 50%;

}

.top {
	background-image: url("green_pasture-1.jpg");
}

h1, h2, h3, h4 {
    font-family: 'Impact';
    margin: 0;
    letter-spacing: 0.7px;
    font-weight: 600;
}

.footer-space {
	padding: 7%;
}

.section {
	background: white;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   black;
    font-weight: 500;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
   font-weight: 500;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
   font-weight: 500;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
   font-weight: 500;
}

body {
	background: #f4f4f4;
}

.feature-pic {
	width: 100%;
}


